<!doctype html>

{% extends "base.html" %}

{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    
{% block content %}
<!--{% include 'base/navbar.html' with brand_name=brand%} -->
   

    <title>Contact Us</title>
  </head>
  <body>
  <div class="container">
    <div class="rows">
    <div class="cols">
   </div>
{% load crispy_forms_tags %}
   <form method="POST">{% csrf_token %}
     {{form|crispy}}
     <button type="submit" class="btn btn-success">Submit</button>
   </form>
</div>
</div>
{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
</html>